.scrollAnimateMain
{
  width: 100%;
  left: 0;
  position: fixed;
}

.header
{
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: -1;
}

.content
{
  position: relative;
  z-index: 1;
}

.wrapperParallax {
  margin-top: 50%;
}

.header,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.01s;
     -moz-transition-duration: 0.01s;
      transition-duration: 0.01s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
