.headerVideo {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  right:0;
}

.foreground {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.titleQuote {
  font-family: 'Sora', sans-serif;
  left:0;
  right:0;
  margin: auto;
  opacity: .85;
  padding: 10px 20px;
  color: white;
  width: 45vw;
  background-color: rgba(0, 0, 0, .8);
  font-size: 26px;
}

.squiggleOuterWrapper {
  display: table;
  padding: 20px 0px;
  margin: auto;
}

.squiggleWrapper {
  padding: 50% 0;
  height: 0;
}

.squiggle {
  width: 57vh;
  height: 30px;
  display: block;
  transform-origin: top left;
  transform: rotate(90deg) translate(0, -100%);
  margin-top: -50%;
  margin-left: 45%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3' /%3E%3C/svg%3E");
  background-size: auto 12px;
  background-position-y:50%;
  background-repeat: repeat-x;
}

.headerButton{
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  height: 50px;
  width: 50px;
  outline: none;
}

.headerButton:hover{
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, .7);
}

@media(max-width: 800px) {
  .titleQuote {
    font-size: 16px;
    width: 50vw;
  }
}
